{% extends 'base.html' %}

{% block title %}
{{product.title}} Detail Page
{% endblock %}


{% block content %}


<div class="font-sans bg-white">
    {% if messages %}
  <div id="message-container" class="fixed top-5 right-5 z-50 space-y-2">
    {% for message in messages %}
    <div class="px-4 py-2 rounded shadow-lg text-white font-semibold
                    {% if message.tags == 'debug' %}
                        bg-gray-600
                    {% elif message.tags == 'info' %}
                        bg-blue-500
                    {% elif message.tags == 'success' %}
                        bg-green-500
                    {% elif message.tags == 'warning' %}
                        bg-yellow-500
                    {% elif message.tags == 'error' %}
                        bg-red-500
                    {% else %}
                        bg-gray-500
                    {% endif %}">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
    <div class="p-4 lg:max-w-7xl max-w-4xl mx-auto">
        <div
            class="grid items-start grid-cols-1 lg:grid-cols-5 gap-12 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] p-6 rounded-lg">
            <div class="lg:col-span-3 w-full lg:sticky top-0 text-center">

                <div class="px-4 py-10 rounded-lg shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative">
                    <img src="{{product.image.url}}" alt="Product" class="w-3/4 rounded object-cover mx-auto" />
                    <button type="button" class="absolute top-4 right-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" fill="#ccc" class="mr-1 hover:fill-[#333]"
                            viewBox="0 0 64 64">
                            <path
                                d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                                data-original="#000000"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="lg:col-span-2">
                <h2 class="text-2xl font-extrabold text-gray-800">{{product.title}} | {{product.category.name}}</h2>

                <div class="flex space-x-2 mt-4">
                    <svg class="w-5 fill-blue-600" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                    </svg>
                    <svg class="w-5 fill-blue-600" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                    </svg>
                    <svg class="w-5 fill-blue-600" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                    </svg>
                    <svg class="w-5 fill-blue-600" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                    </svg>
                    <svg class="w-5 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                    </svg>
                    <!-- <h4 class="text-gray-800 text-base">500 Reviews</h4> -->
                </div>

                <div class="flex flex-wrap gap-4 mt-8">
                    <p class="text-gray-800 text-3xl font-bold">{{product.price}}</p>
                </div>

                <div class="mt-8">
                    <h3 class="text-xl font-bold text-gray-800">Color</h3>
                    <div class="flex flex-wrap gap-3 mt-4">
                        <button type="button"
                            class="w-10 h-10 bg-[{{ product.color }}] border-2 border-white hover:border-gray-800 rounded-full shrink-0 transition-all"></button>
                    </div>
                </div>
                <!-- Quantity Counter -->
                <div class="flex items-center space-x-2 border border-gray-300 rounded-lg p-2 bg-white">
                    <button type="button" id="decrease-qty"
                        class="w-10 h-10 flex items-center justify-center bg-[#5F16B9] text-white font-bold rounded-lg shadow-md hover:bg-[#4a0d8d] transition-colors duration-300">
                        -
                    </button>
                    <input readonly type="number" id="quantity" name="quantity" value="1" min="1"
                        max="{{ product.countInStock }}"
                        class="w-16 text-center border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-[#5F16B9] focus:border-transparent">
                    <button type="button" id="increase-qty"
                        class="w-10 h-10 flex items-center justify-center bg-[#5F16B9] text-white font-bold rounded-lg shadow-md hover:bg-[#4a0d8d] transition-colors duration-300">
                        +
                    </button>
                </div>

                <!-- Available Stock -->
                <p class="mt-2 text-gray-700">
                    <strong>Available Stock:</strong> {{ product.countInStock }}
                </p>


                <div class="flex flex-wrap gap-4 mt-8">
                    <button type="button"
                        class="min-w-[200px] px-4 py-2.5 border border-blue-600 bg-transparent hover:bg-gray-300 text-gray-800 text-sm font-semibold rounded"
                        id="add-cart" value="{{ product.id }}">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(() => {
            var alert = document.querySelector("#message-container")
            if (alert) {
                alert.style.display = "none"
            }
        }, 4000);

        const decreaseBtn = document.getElementById('decrease-qty');
        const increaseBtn = document.getElementById('increase-qty');
        const quantityInput = document.getElementById('quantity');
        const maxStock = parseInt(quantityInput.getAttribute('max'));

        decreaseBtn.addEventListener('click', () => {
            let currentQty = parseInt(quantityInput.value);
            if (currentQty > 1) {
                quantityInput.value = currentQty - 1;
            }
        });

        increaseBtn.addEventListener('click', () => {
            let currentQty = parseInt(quantityInput.value);
            if (currentQty < maxStock) {
                quantityInput.value = currentQty + 1;
            } else {
                alert('Sorry, you cannot add more than the available stock.');
            }
        });

        $(document).on('click', '#add-cart', function (e) {
            e.preventDefault();

            const productId = $(this).val();
            const quantity = $('#quantity').val();

            $.ajax({
                type: "POST",
                url: "{% url 'cart_add' %}",
                data: {
                    productId: productId,
                    quantity: quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if(response.success) {
                        $("#cart_qty").text(response.cart_qty);
                        location.reload();
                    } else {
                        alert("Failed to add product to cart.");
                    }
                },
                error: function (xhr, status, error) {
                    console.log(`Error while adding product to cart: ${xhr.responseText}`);
                }
            });
        });
    });
</script>


{% endblock %}